/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.bgbase {
    background: url(../img/bgbase.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.cntPageLxn {
    width: 375px;
    margin: 0 0 0 auto;

    @include mi.mq(sp) {
        width: 100%;
    }
}

.mainIndex {
    background: #fff;
}

.fvMovie {
    width: 100%;
    aspect-ratio: 375 /469.05;
    position: relative;
    overflow: hidden;

    .fvMovieLxn {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        aspect-ratio: 375 /470;
    }

    iframe {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;
    }
}