/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.bgbase {
    background: url(../img/bgbase.jpg) no-repeat center center;
    background-size: cover;
}

.cntPageLxn {
    width: 375px;
    margin: 0 0 0 auto;

    @include mi.mq(sp) {
        width: 100%;
    }
}