/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.btnFooter {
    bottom: 11%;
    position: sticky;
    right: 2%;
    @include mi.ontenerWidth(375, 45);
    margin: 0 0 0 auto;
    transition-duration: 0.5s;

}

.btnFooter a {
    display: block;
    @include mi.ontenerWidth(45, 45);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
    /* 初期値 */
    transform: rotate(0deg) scale(1);

    &:active,
    &:hover {
        opacity: 1;
        transform: rotate(360deg) scale(1.2);
    }

    img {
        width: 100%;
    }
}



.footer {
    @include mi.marginPercent(375, -50, 0, 0, 0);
    @include mi.paddingPercent(375, 12, 0, 12, 0);
    @include mi.fontSizePc(10);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.cntPageLxn {
    padding: 0 0 5px 0;
}