/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../Functions/mixin"as mi;

/* ==========================================================================
Library
========================================================================== */
body {
    font-family: "Zen Old Mincho", serif;
    color: #241A08;
    font-weight: 500;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

body {

    input,
    textarea,
    button {
        font-family: "Zen Old Mincho", serif;
        font-weight: 500;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        line-height: 1;
        font-weight: 500;
    }
}

.kaisei {
    font-family: "kaisei Decol", serif;
}

.mincho {
    font-family: "Zen Old Mincho", serif;
}

.maru {
    font-family: "Zen Maru Gothic", sans-serif;
}

.t_center {
    text-align: center;
}

.text_justify {
    text-align: justify;
    text-justify: inter-ideograph;
}

.tj {
    text-indent: -9999px;
    text-align: left;
    overflow: hidden;
    display: block;
    font-size: 0.1em;
}