.bg_fff {
    background: #fff;
}

.cl_FF0000 {
    color: #FF0000;
}

.cl_fff {
    color: #fff;
}

.bg_C39A86 {
    background: #C39A86;
}

.bg_241A08 {
    background: #241A08;
}

.bg_171717 {
    background: #171717;
}

.bg_D9D9D9 {
    background: #D9D9D9;
}

.bg_000 {
    background: #000;
}